<h3>About us</h3>
<p>
	Hi, my name is Matas Milukas. 
	<br>
	I go by the pseudonym "Red Phoenix". (You can contact me at raikutis at gmail.com)
	<br><br>
	And this is a tax calculator that will enable <br>
	you to compare the tax rates across the US states. 
	<br><br>
	If you want to know more about it, please either go
	to the home page or the plan page.
	<br><br>
	By the way, taxcp.com stands for 
	Tax Calculator - Phoenix™ (TAXCP™)
</p>
