<h1>About_us</h1>
<p>
	Hi, my name is Matas Milukas. 
	<br>
	I go by the pseudonym "Red Phoenix". (You can contact me at raikutis at gmail.com)
	<br><br>
	And this is a tax calculator that will enable <br>
	you to compare the tax rates across the US states. 
	<br><br>
	You want to know more about it, please go either
	to the home page or plan.
	<br><br>
	By the way, taxcp.com stands for 
	Tax Calculator - Phoenix™ (TAXCP™)
</p>
