<p>All of the code and plans are released <br>
under an MIT license and a legal disclaimer. (As of <%= Time.now.strftime("%m/%d/%Y") %>)<br>
But, if you use any of my code or plans <br>
it would be nice if you let me know <br>
so that we can collaborate together ;).<br>
You can reach me at raikutis at gmail.com <br>
</p>

<h3>The MIT License (MIT)</h3>

<p>Copyright (c) 2015 Matas Milukas </p>
<p>
Permission is hereby granted, free of charge,<br>
to any person obtaining a copy of this software <br>
and associated documentation files (the "Software"),<br>
to deal in the Software without restriction,<br>
including without limitation the rights to use, <br>
copy,modify, merge, publish, distribute, sublicense,<br>
and/or sell copies of the Software, and to permit <br>
persons to whom the Software is furnished to do so,<br>
subject to the following conditions:
</p>
<p>
The above copyright notice and this permission notice <br>
shall be included in all copies or substantial portions <br>
of the Software. <br>
</p>
<p>
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, <br>
EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES <br>
OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. <br>
IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, <br>
DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, <br>
TORT OR OTHERWISE,ARISING FROM, OUT OF OR IN CONNECTION <br>
WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.<br>
</p>

<h3>Legal Disclaimer</h3>

The information contained on this website/software does not constitute <br>
legal advice or tax advice. Its authors make no claims about its <br>
accuracy, completeness, or up-to-date character and that applies to <br>
any site linked to this website as well. No author or owner<br>
of this website/software is acting as your attorney.<br>
Legal rules and tax rules change frequently, therefore,<br>
we cannot guarantee that any information on <br>
this website/software is accurate or up to date.<br>
<br>
Nothing on this website/software should be viewed as tax advice <br>
nor is any information on this site intended to be used for <br>
the purpose of state or federal tax penalty protection.  <br>
Furthermore, the information on this site may not be used <br>
in connection with the marketing of any state or federal tax <br>
plan without the prior consent of the author. <br>
<br>
The law varies widely from jurisdiction to jurisdiction, <br>
and it is subject to varying interpretation.  <br>
Legal advice, including tax advice, must always be tailored to <br>
your circumstances, and nothing on this website/software <br>
should be viewed as a substitute for the advice of a competent attorney. <br>
