// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header{

  li {
    border: 1px solid gray;
    margin: 5px;
    width: 200px;
  }
}

body{
  .box{
    box-sizing: border-box;
    margin: 2px;
    height:     200px;
    max-height: 200px;
    width:      450px;
    max-widht:  450px;
    border: 2.5px solid;
    position: relative;
    overflow-y: auto;
  }
  
  .left{
    float: left;
  }
  
  .right{
    float: right;
  }
}
